Source: sugos-info
Section: admin
Priority: optional
Maintainer: Reza Zulkarnain (SUGOS) <sugosdeveloper@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.2

Package: sugos-info-xfce
Architecture: all
Provides: sugos-info
Description: Paket Untuk Informasi SUGOS Edisi Xfce.
 Paket Dasar SUGOS (Base) Untuk Kebutuhan dan 
Sumber Informasi dari SUGOS Edisi Xfce.
